body {
    display: flex;
    background-color: rgb(29, 30, 34);
    justify-content: center;
}

.main-section {
}

.login {
    font-family: 'Fira Code';
    font-size: 23px;
    font-weight: 500;
    color: white
}

.main-login {
    display: flex;
    background-color: #25252b;
    padding: 20px 100px;
    border: 5px solid white;
    left: 20px;
    transform: translateY(250px);
}

.email {
    margin-bottom: 20px;
}